.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

classes/
/build
/target
buildSrc/build


# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
.idea/workspace.xml
.idea/tasks.xml
src/main/resources/ca.pem
src/main/resources/client.keystore.p12
src/main/resources/client.truststore.jks
src/main/resources/service.key
src/main/resources/service.cert